body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 100px auto;
    text-align: center;
}

h1 {
    color: #333;
}

.links {
    margin-top: 50px;
}
.links .link {
    display: inline-block;
    margin: 0 20px;
}

.home-link {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

.home-link:hover {
    text-decoration: underline;
}

.imagem {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.celulares {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.celular {
    width: 250px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.celular-imagem {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn {
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}
